# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Flask / БД
instance/*.db
instance/*.sqlite
*.db-journal

# Сгенерированные отчёты
*.xlsx

# Секреты
.env

# IDE / ОС
.vscode/
.idea/
.DS_Store
